@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    box-sizing: border-box;
    overflow: hidden;
}

@font-face {
    font-family: "Kelvetica";
    src: url("./assets/fonts/Kelvetica.ttf");
}

@font-face {
    font-family: "RobotoThin";
    src: url("./assets/fonts/Roboto/RobotoThin.ttf");
}

@font-face {
    font-family: "RobotoLight";
    src: url("./assets/fonts/Roboto/RobotoLight.ttf");
}

@font-face {
    font-family: "RobotoRegular";
    src: url("./assets/fonts/Roboto/RobotoRegular.ttf");
}

@font-face {
    font-family: "RobotoMedium";
    src: url("./assets/fonts/Roboto/RobotoMedium.ttf");
}

@font-face {
    font-family: "RobotoBold";
    src: url("./assets/fonts/Roboto/RobotoBold.ttf");
}

html.lenis {
    height: auto;
}
.lenis.lenis-smooth {
    scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}
.lenis.lenis-stopped {
    overflow: hidden;
}
.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

/* Only necessary with horizontal scrolling */
html[data-scroll-orientation="horizontal"] {
    body {
        width: fit-content;
    }
    [data-scroll-container] {
        display: flex;
    }
}
